#name{
    border-radius: 4px;
}
video{
    padding: 1px;
    margin: 1px;
    height: 1px;
    width: 1px;
}
.input{
    color: black;
}
body{
    color: white;
    background-image: url("http://static.tumblr.com/aa8e817331ad1771ef2a2d3a479f3c5d/oixna1h/LTNobwkwe/tumblr_static_3wv6fctrjg2sg0gw0cokcoggo_2048_v2.jpg")
}
#center{
    text-align:center;
    position: relative;
}
#button{
    position: relative;
    margin: 20px;
}

#banner{
}

h1{
    position:relative;
    margin:0px;
    color: white;
    letter-spacing: -500px;
    text-shadow: 0px 0px #D3D3D3;
    padding-bottom: 20px;
}

h6{
    margin-right: 900px;
}

.slide{
    text-shadow: 15px 10px white;
    color:yellow;
    letter-spacing: 13px;
}

table{
    vertical-align: middle;
}

#pauser{
    background-color: black;
    color: white;
    height: 33px;
    width: 50px;
    font-size: 10px;
}
#image{
    position: relative;
    left: 850px;
    bottom: 197px;
    height: 80px;
    width: 40px;
}

#mask{
    height: 100%;
    width: 100%;
    background-color:grey;
    opacity: .75;
    z-index: 1;
    display:none;
    position: fixed;
}

#bigImage{
    z-index: 2;
    display: none;
    position: fixed;
    top: 250px;
}

#detailImage{
    position: absolute;
    display: none;
    top: 37px;
    left: -95px;
}

#imageMessage{
    display: none;
    position: absolute;
    left: 874px;
}
